@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSansLight";
    src: url("fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "OpenSansBold";
    src: url("fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSansSemibold";
    src: url("fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "OpenSansExtraBold";
    src: url("fonts/OpenSans-ExtraBold.ttf");
}


@font-face {
    font-family: "RobotoCondensedLight";
    src: url("fonts/RobotoCondensed-Light.ttf");
}

@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("fonts/RobotoCondensed-Regular.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: OpenSans;
}

ul, li {
    margin: 0;
    padding: 0;
}

.container {
    width: 60.9375%;
    margin: 0 auto;
}

.caption {
    font-size: 1.6vw;
    text-transform: uppercase;
    font-family: OpenSansSemibold;
    text-align: center;
    color: #000;
}

.caption_border {
    margin: 0.3vw auto 1.45vw auto;
    width: 3.760683760683760683760683%;
    border-top: 3px solid #9d1006;
}




.photo {
    color: #fff;
}

.photo img {
    width: 100%;
    margin-top: 2.6vw;
}

.photo .text {
    position: absolute;
    top: 8.8vw;
    left: 19.53%;
    font-size: 0.65vw;
}




.faq {
    text-align: center;
    padding: 3.2vw 0 1.2vw 0;
    color: #000;
}

.faq .question {
    float: left;
    position: relative;
    text-align: left;
    width: 83%;
    font-size: 0.929vw;
    padding: 0 0 0 2.6%;
    border-left: 1px solid #9d1006;
    margin: 1.35vw 0 1.35vw 5.9%;
    line-height: 1.2;
}

.faq .question::before {
    content: '';
    position: absolute;
    left: -5.2%;
    top: 0.3vw;
    width: 1.6vw;
    height: 1.5vw;
    background-image: url(image/arrow.png);
    background-size: contain;
}

.faq .arrow_spoiler {
    float: right;
    margin-top: 1.65vw;
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 50%;
    background-color: #e8e8e8;
}

.faq .arrow_spoiler:hover, .faq .open .arrow_spoiler {
    cursor: pointer;
    background: url(image/arrow_top.png) no-repeat center #9d1006;
}

.faq .arrow_spoiler:hover img{
    visibility: hidden;
}

.arrow_spoiler img {
   /* margin-top: 0.65vw; */
    width: 1.2vw;
    height: 0.6vw;
}

.faq .content {
    clear: both;
    font-size: 0.929vw;
    text-align: left;
    line-height: 1.2;
    padding: 1.35vw 24.5% 1.35vw 24.8%;
    background: #e8e8e8;
    display: none;
}
.faq .container{
    cursor: pointer;
}

    /*
    .faq .question::after {
        content: '';
        position: absolute;
        right: -9.8%;
        top: 0.3vw;
        width: 1.8vw;
        height: 1.8vw;
        border-radius: 50%;
        background-color: red;
    }

    .faq .question::after:hover {
        cursor: pointer;
        background: #e8e8e8;
    }

    */



.warning {
    background: #232323;
    text-align: center;
    padding: 2.25vw 0 2.15vw 0;
    font-family: RobotoCondensedLight;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    clear: both;
}

.warning .text1 {
    font-size: 1.29vw;
}

.warning .text2 {
    margin-top: 0.2vw;
    font-size: 2.21vw;
}





.footer {
    position: relative;
    background: #000;
    text-align: left;
    padding: 1.8vw 0 3.5vw 0;
    font-family: OpenSansLight;
    color: white;
}

.logo_bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 18.802083333333333333333%;
}

.left_column {
    display: inline-block;
    width: 38.8%;
}

.left_column div {
    font-size: 0.7vw;
    line-height: 1.3;
    margin-bottom: 1vw;
}

.left_column .telef {
    font-size: 0.75vw;
}

.left_column div q{
    quotes: "\00ab" "\00bb";
}

.right_column {
    float: right;
    width: 61.2%;
}


.right_column nav {
    font-size: 0.65vw;
    text-transform: uppercase;
}

.right_column .menu2 {
    height: 1.5625vw;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
}

.right_column .menu_border {
    border-right: 1px solid #393939;
}

.right_column .menu_elem {
    padding-top: 0.7%;;
}

.right_column .menu_elem a {
    color: white;
    text-decoration: none;
}

.right_column .follow-me {
    margin: 2.74vw 0 4.4vw 0;
}
.right_column .follow-me a {
    color: white;
    border: 1px solid red;
    border-radius: 50%;
    padding: 0.25vw 0.45vw;
    margin-right: 0.71vw;
    font-size: 0.8vw;
}
.right_column .follow-me a:last-child {
    padding: 0.25vw 0.6VW;
}

.right_column .developer {
    font-size: 0.75vw;
}