/*fonts*/
@font-face {
    font-family: "BebasNeueRegulars";
    src: url("fonts/BebasNeue Regular.otf");
}@font-face {
    font-family: "BebasNeueBold";
    src: url("fonts/BebasNeue Bold.otf");
}

@font-face {
    font-family: "Exo2Regular";
    src: url("fonts/Exo2.0-Regular.otf");
}
@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSansLight";
    src: url("fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "OpenSansBold";
    src: url("fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSansSemibold";
    src: url("fonts/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: "OpenSansRegular";
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSansExtraBold";
    src: url("fonts/OpenSans-ExtraBold.ttf");
}


@font-face {
    font-family: "RobotoCondensedLight";
    src: url("fonts/RobotoCondensed-Light.ttf");
}

@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("fonts/RobotoCondensed-Regular.ttf");
}
/*end fonts*/
body, html {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    min-width: 100%;
    font-family: OpenSans;
}
h3, h4 {
    margin: 0;
    font-family: OpenSansExtraBold;
    text-align: center;
    text-transform: uppercase;
}
ul {
    margin: 0;
    padding: 0;
}

header {
	width: 100%;
	position: fixed;
	height: 9vw;
	z-index: 9;
}
.fixed {
    height: auto;
}

.container {
    width: 60.9375%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}
.menu {
    display: flex;
    padding: 0.7vw 0vw;
}
.menu li {
    margin-right: 1vw;
    text-decoration: underline;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 0.8vw;
}
.menu li a {
    text-decoration: none;
    color: white;
}
.menu li:last-child {
    margin-right: 0;
}
.menu li:last-child::after {
    padding-right: 0;
}
.menu li:after {
    content: '';
    border-right: 1px solid #881a1a;
    vertical-align: middle;
    padding: 0.4vw;
}

.menu li:last-child:after {
    border-right: 0;
}
.nav {
    background: black;
}

.nav .container {
    display: flex;
    align-items: center;
}
.languge {
    margin-left: 1vw;
}
.languge ul {
    padding: 0;
}
.languge ul li {
    color: white;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 0.7vw;
}
.languge ul li a {
    text-decoration: none;
    color: white;
}
.languge ul li::after {
    border-right: 1px solid #881a1a;
    content: '';
    padding: 0.5vw 0.5vw;
}
.languge ul li:last-child {
    display: none;
}
.follow-me {
    display: flex;
    align-items: center;
    margin-left: 0.5vw;
}
.follow-me a {
    color: white;
    border: 1px solid #8f1b1b;
    border-radius: 50%;
    padding: 0;
    margin-right: 0.3vw;
    font-size: 0.8vw;
    display: block;
    width: 2vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
}
.follow-me a:last-child {
    margin-right: 0;
}
.con {
    background: rgba(128,128,128, 0.4);
    height: 6vw;
    position: absolute;
    z-index: 1;
    width: 100%;
}
/**.con .container > div {
    display: inline-block;
    margin-right: 3vw;
    margin-top: 1vw;
    vertical-align: middle;
}*/
.con .container {
    display: flex;
    align-items: stretch;
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: 1vw;
    align-items: center;
}
.con .container > div:last-child {
    margin-right: 0;
}

.logo {
    vertical-align: middle;
}

.logo img {
    width: 8vw;
}
.tel {
    width: 10vw;
    font-size: 1.0416666666666667vw;
    color: white;
}
.tel > span {
    float: right;
}
.fa-phone {
    position: relative;
    top: 0.5vw;
    border: 1px solid;
    padding: 0.5vw;
    border-radius: 50%;
}
.callback a {
    color: white;
    font-size: 1vw;
}
.callback::after, .tel::after {
    border-right: 1px solid #ffffff;
    height: 3vw;
    content: '';
    position: absolute;
    top: 0.8vw;
}
.tel::after {
    padding-right: 9.5vw;
}
.callback::after{
    padding-right: 1.5vw;
}
.country {
    border: 1px solid;
    padding: 0.3vw 0.7vw;
    background-color: #d6d6d6;
    border-radius: 5px;
}
.country a {
    color: black;
    text-decoration: none;
}
.button {
    background-color: #9d1006;
    padding: 0.5vw 3vw;
    border: 1px solid white;
    border-radius: 0.3vw;
}
.button a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0416666666666667vw;
    font-family: opensanslight;
}

.fa-phone {
    transform: scale(-1, 1);
}
.slider {
    text-align: center;
    float: left;
    width: 100%;
    height: 20vw;
}
.slider-top {
	padding-top: 2.65vw;
}

.sl1 .text1 {
	position: absolute;
	top: 15vw;
	left: 54vw;
	color: #fff;
	font-size: 2.5vw;
	font-family: opensanssemibold;
	text-transform: uppercase;
	background: url(../image/voskl.png) no-repeat left center;
	background-size: 1.3541666666666667vw;
	padding-left: 3vw;
}
.sl1 .text2 {
	position: absolute;
	bottom: 11.9vw;
	left: 20vw;
	text-align: right;
	color: #fff;
	font-family: opensanslight;
	font-size: 2.1875vw;
}
.sl1 .text2 b {
	font-size: 2.8125vw;
	text-transform: uppercase;
	font-weight: normal;
	font-family: opensansbold;
}
.sl2 .text1 {
	position: absolute;
	top: 12vw;
	font-size: 3.4375vw;
	color: #fff;
	font-family: opensanssemibold;
	text-transform: uppercase;
	left: 51vw;
}
.sl2 .text1 span {
	color: #9d1006;
	font-family: opensans;
	font-size: 2.5vw;
}
.sl2 .text2 {
	position: absolute;
	bottom: 11vw;
	text-align: right;
	font-family: opensanslight;
	font-size: 2.1875vw;
	left: 34vw;
}
.sl2 .text2 b {
	font-family: opensanssemibold;
	font-weight: normal;
	font-size: 3.0208333333333335vw;
}
.sl2 .text2 span {
	font-family: opensansbold;
	text-transform: uppercase;
	color: #9d1006;
	font-size: 3.0208333333333335vw;
}
.sl3 .text1 {
    position: absolute;
    top: 10.6vw;
    z-index: 9;
    left: 37vw;
    color: #fff;
    font-size: 1.875vw;
    text-transform: uppercase;
    font-family: opensans;
}
.sl3 .text1 b {
    font-family: opensanssemibold;
    font-weight: normal;
    font-size: 2.5vw;
}
.sl3 .text2 {
    position: absolute;
    top: 20.5vw;
    z-index: 9;
    left: 37vw;
    color: #fff;
    font-size: 1.875vw;
    font-family: opensanslight;
}
.sl3 .text2 b {
    font-family: opensansbold;
    font-weight: normal;
    font-size: 2.5vw;
	text-transform: uppercase;
}

.sl4 .text1 {
	position: absolute;
	top: 14vw;
	width: 100%;
	text-align: center;
	font-size: 1.875vw;
	font-family: opensans;
	text-transform: uppercase;
}
.sl4 .text1 span {
	color: #9d1006;
	font-family: opensanssemibold;
	font-size: 2.5vw;
}
.sl4 .text2 {
	position: absolute;
	top: 19vw;
	left: 27vw;
	font-family: opensanslight;
	font-size: 1.3541666666666667vw;
}
.sl4 .text2 b {
	font-family: opensanssemibold;
	font-weight: normal;
	font-size: 1.875vw;
}
.sl4 .text2 span {
	color: #9d1006;
	font-family: opensansbold;
	font-size: 2.5vw;
	text-transform: uppercase;
}
.sl4 .text2 .price span {
	text-decoration: line-through;
	font-family: opensanssemibold;
	font-size: 1.875vw;
	text-transform: none;
	display: inline-block;
	margin-right: 1vw;
}
.sl4 .text2 .price {
	font-family: opensanssemibold;
	font-size: 2.5vw;
}
.sl4 .text2 .price small {
	font-size: 1.3541666666666667vw;
	font-family: opensanslight;
}
.slaider a.btn-red {
	position: absolute;
	bottom: 4vw;
	display: block;
	font-size: 1.25vw;
	width: 14.0625vw;
	height: 3.0208333333333335vw;
	color: #fff;
	text-decoration: none;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 3.0208333333333335vw;
	font-family: opensans;
	text-transform: uppercase;
	background: #9d1006;
	border-radius: 3px;
	border: 1px solid #fff;
}
.slick-slide img {
    width: 100%;
}
.slider-top .left {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 2vw;
    width: 1vw;
    border: 1px solid white;
    background: rgba(48, 48, 48, 0.7);
    border-radius: 50%;
    padding: 0.5vw 1vw;
    cursor: pointer;
}
.slider-top .right {
    position: absolute;
    top: 50%;
    right: 2vw;
    z-index: 1;
    width: 1vw;
    border: 1px solid white;
    background: rgba(48, 48, 48, 0.7);
    border-radius: 50%;
    padding: 0.5vw 1vw;
    cursor: pointer;
}
/*arrow slider*/
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
.below {
    height: 0vh;
}
.arrow-slider {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -20px;
	width: 3.541666666666667vw;
	height: 1.875vw;
	color: white;
	/* background-image: url(); */
	/* background-size: contain; */
}
#arrow-slider img {
	width: 3.541666666666667vw;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
.slaider {
	position: relative;
}

/*arrow slider end*/


/*дейсвтие либедор*/
.wench {
    background-image: url(image/libedor-main0.png);
    background-size: cover;
    text-align: center;
    padding: 4vw 0;
    background-attachment: fixed;
}

.wench span {
    font-size: 1.875vw;
    font-family: opensans;
    color: #fff;
    line-height: 1;
}

.wench span span {
    font-weight: normal;
    font-family: opensansbold;
}

.border {
    width: 24.4791666666666666666666666%;
    border-top: 1px solid #fff;
    margin: 1.4vw auto;
}


.advantage {
    background: #e8e8e8;
    text-align: center;
    padding-top: 4vw;
}

.advantage .caption {
    font-size: 1.5625vw;
    color: #010101;
    text-transform: uppercase;
    font-weight: normal;
    font-family: opensans;
}
.advantage .caption b {
    font-weight: normal;
    font-family: opensanssemibold;
}

.advantage .caption span {
    font-weight: bold;
}

.paragraphs {
    width: 100%;
    padding: 2.55vw 0 3.2vw 0;
    margin: 0 auto;
}

.paragraph {
    display: inline-block;
    width: 13.125%;
    text-align: center;
    vertical-align: top;
    margin-left: -4px;
}

.paragraph span {
    font-size: 1.0416666666666667vw;
    color: #393939;
    font-family: opensanssemibold;
}

.circle {
    width: 7.5vw;
    height: 7.5vw;
    border: 1px solid #3b3b3b;
    margin: 0 auto 2.1vw auto;
    border-radius: 50%;
    background: #c5c5c5;
}
.circle img {
    height: 5.3vw;
    padding-top: 1.1vw;
}

.circle:hover {
    background: #9d1006;
}
.sertificate {
    margin-bottom: 4vw;
}
.sertificate h3 {
    font-size: 1.5625vw;
    margin-top: 4vw;
    font-family: opensanssemibold;
}
.slider-sert .left {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: -15vw;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.65vw 1.2vw;
    background-color: grey;
    width: 1vw;
    cursor: pointer;
}
.slider-sert .right {
    position: absolute;
    top: 50%;
    right: -15vw;
    z-index: 1;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.65vw 1.2vw;
    background-color: grey;
    width: 1vw;
    cursor: pointer;
}
.slider-sert img {
    width: 13.9vw;
}

/*Состав Либедор*/
.gide {
    background-image: url(image/compound-back.png);
    height: 80vw;
    background-size: cover;
    position: relative;
}
.gide h3 {
    padding-top: 4vw;
    font-size: 1.5625vw;
    font-family: opensanssemibold;
}


.gide .button {
    float: right;
    vertical-align: middle;
    background-color: gray;
    padding: 0.5vw 1.2vw;
    position: relative;
    top: -5.2vw;
}
.gide .button img {
    width: 1.5vw;
    margin-right: 0.5vw;
    vertical-align: middle;
}

.text-gide h2 {
    margin-bottom: 5vw;
    font-size: 1.5vw;
    font-family: OpenSansSemibold;
    text-transform: uppercase;
}
.text-gide h2::after {
    content: '';
    border-bottom: 1px solid #c52222;
    width: 29.6vw;
    height: 2.3vw;
    position: absolute;
    left: 0;
}
.text-gide h2 b {
    font-family: OpenSansExtraBold;
    color: #9d1006;
}
.text-gide p {
    width: 36vw;
    font-size: 1.3541666666666667vw;
    font-family: opensansbold;
}
.text-gide p:nth-child(3) {
    color: red;
    margin-bottom: 0;
}
.gide ul {
    font-family: opensansregular;
    font-size: 1.3541666666666667vw;
    margin-left: 2vw;
}
.gide ul li {
    color: red;
}
.gide ul li span {
    color: black;
}
.adaptst {
    font-family: opensansregular !important;
    font-size: 1.25vw !important;
}
.adaptst b {
    color: #9d1006;
}
.gliko {
    position: absolute;
    right: 27.3vw;
    top: 17vw;
}
.makro {
    position: absolute;
    right: 29vw;
    top: 23vw;
}
.mikro {
    position: absolute;
    right: 14vw;
    top: 26.3vw;
}
/*pulse*/
.gliko::before, .makro::before, .mikro::before {
    margin: 1vw;
    display: block;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background: #c52222;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(193,76,67, 0.4);
    animation: pulse 2s infinite;
    content: '';
    position: relative;
    right: -2vw;
}


@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 rgba(197,34,34, 0.5);
    }
    70% {
        -webkit-box-shadow: 0 0 0 rgba(197,34,34,, 0.3);
    }
    100% {
        -webkit-box-shadow: 0 0 0 rgba(197,34,34, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 rgba(197,34,34,, 0.5);
        box-shadow: 0 0 0 rgba(197,34,34, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(197,34,34, 0.3);
        box-shadow: 0 0 0 10px rgba(197,34,34, 0.3);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(197,34,34, 0);
        box-shadow: 0 0 0 20px rgba(197,34,34, 0);
    }
}

/*end pulse*/
/*Адаптогены*/
.graph {
    width: 28vw;
    margin-top: 3vw;
}
.graph:first-child {
    float: left;
}
.graph:last-child {
    float: right;
}
/*.text-gide {
    background: linear-gradient(to right, #ebebeb, #bdbdbd);
}

.olen {
    position: absolute;
    right: 0;
    top: 71px;
    width: 43.7vw;
    z-index: 1;
}*/

/*end*/
/*recomendation*/
.recommendations {
    background: #fff;
    /*   background-image: url(../img/recommendation.png);
       background-size: cover; */
    text-align: center;
    padding: 3.5vw 0 4vw 0;
    font-family: Exo2Regular;
}

.recommendations .caption {
    font-size: 1.5625vw;
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
    font-family: opensanssemibold;
}

.recommendations .border, .sertificate .border, .gide .border, .one-moment .border {
    margin: 0.6vw auto 2vw auto;
    width: 3.292%;
    border-top: 0.15625vw solid #9d1007;
}

.recommendation {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-left: -4px;
    text-align: left;
}

.arrow {
    background-image: url(../image/arrow.png);
    width: 1.666666666667vw;
    height: 1.5625vw;
    background-size: cover;
    display: inline-block;
    vertical-align: top;
    margin: 0 3%;
}

.recommendation .text {
    display: inline-block;
    width: 78%;
    margin: -1% 0 0 -1%;
}

.recommendation .text span {
    color: #9d1006;
    font-size: 1.3541666666666667vw;
    line-height: 1.2;
    font-family: opensansbold;
}
.recommendation .text ul li span {
    font-weight: normal;
}

.recommendation ul {
    margin-left: 2.2vw;
}

.recommendation li {
    color: #9d1006;
    margin-top: 1.1%;
}

.recommendation li .items {
    color: #000;
    font-size: 1.3541666666666667vw;
    margin-left: -1%;
    font-family: opensans;
}
/*act*/
.act {
    background: #e8e8e8;
    text-align: center;
    padding: 3.5vw 0 3.5vw 0;
    font-family: Exo2Regular;
}

.act .caption {
    font-size: 1.5625vw;
    color: #252525;
    text-transform: uppercase;
    font-family: opensanssemibold;
}

.act .border {
    margin: 0.7vw auto 1.4vw auto;
    width: 3.525641025641025641%;
    border-top: 3px solid #9d1007;
}

.act .text {
    color: #000;
    font-size: 1.5625vw;
    line-height: 1.3;
    font-family: opensanslight;
}

.act .text q {
    font-weight: bold;
    quotes: "\00ab" "\00bb";
    font-family: opensans;
    font-size: 1.5625vw;
}

/*end*/
/*images block*/
.blood {
    font-family: Exo2Regular;
    font-size: 0;
    color: #fff;
}

.image_container {
    width: 50%;
    display: inline-block;
    position: relative;
}

.image_container::after {
    background-color: black;
    opacity: 0.8;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition-duration: 1.2s;
}

.image_container:hover::after {
    opacity: 0;
    height: 5%;
}

.blood img {
    width: 100%;
}

.blood span {
    font-size: 1.25vw;
    position: absolute;
    display: block;
    top: 46%;
    left: 4.75%;
    text-transform: uppercase;
    transition-duration: 1.2s;
    z-index: 1;
    font-family: opensansregular;
}

.image_container:hover span {
    top: 47%;
    top: 5%;
    left: 36.75%;
    width: 29vw;
    text-align: right;
}

.blood a {
    color: #c52225;
}
/*end*/

/*Отзывы*/
.reviews {
    background: #5d5d5d;
    text-align: center;
    padding: 3.5vw 0 3.5vw 0;
    font-family: Exo2Regular;
    color: #fff;
}

.reviews .caption {
    font-size: 1.5625vw;
    text-transform: uppercase;
    font-family: opensanssemibold;
}

.reviews .border {
    margin: 0.7vw auto 1.4vw auto;
    width: 3.525641025641025641%;
    border-top: 3px solid #9d1007;
}

.slide {
    width: 49%;
    text-align: left;
}

.reviews .img {
    display: inline-block;
    vertical-align: top;
    width: 6.666666666666666666666vw;
    height: 6.666666666666666666666vw;
}

.review {
    display: inline-block;
    margin-left: 5%;
}

.review .rev-tex {
    display: block;
    font-size: 0.9375vw;
    font-family: opensanslight;
}

.review .text-two {
    padding-top: 1.9vw;
    display: block;
    font-size: 0.7vw;
}

.reviews .slick-prev.slick-arrow, .reviews .slick-next.slick-arrow {
    display: none !important;
}
.slick-dots li button {
    display: none!important;
}

.slick-dots li {
    width: 0.5vw;
    height: 0.5vw;
    border: 2px solid #9d140a;
    border-radius: 50%;
    background-color: #d6d6d6;
    display: inline-block;
    margin-right: 1vw;
}

.slick-dots .slick-active {
    background-color: #9d140a;
}
/*end*/
/*Один момент*/
.one-moment .caption {
    font-size: 1.5625vw;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 4vw;
    font-family: opensanssemibold;
}
.left-block img {
    width: 3vw;
}
.left-block{
    display: inline-block;
    width: 48%;
    vertical-align: top;
	text-align:right;
	margin-right: 1.0416666666666667vw;

}
.right-block {
    display: inline-block;
    width: 48%;
    vertical-align: top;
	text-align: left;
	margin-left: 1.0416666666666667vw;
}
.button2 {
	border: 1px solid #c52222;
	background-color: transparent;
	border-radius: 5px;
	text-align: center;
	width: 8vw;
	display: inline-block;
	font-family: opensanslight;
	width: 13.489583333333334vw;
}
.button2 a {
	text-decoration: none;
	color: #000;
	font-size: 1.0416666666666667vw;
	text-transform: uppercase;
	display:block;
	padding: 0.5vw 0;
}
.left-block h4, .right-block h4 {
	font-family: opensansregular;
	font-size: 1.5625vw;
	text-align: left;
	margin-top: 3.125vw;
	margin-bottom: 1.8229166666666667vw;
	text-transform: none;
	font-weight: normal;
}
.imgtel {
	text-align: left;
	background:url(image/tel24.png) no-repeat left center;
	padding-left:5.208333333333334vw;
	background-size:3.6458333333333335vw;
	border-bottom: 1px solid #920c09;
	padding-bottom: 1vw;
	margin-bottom: 1vw;
}
.imgtel.bot {
	background:url(image/Turkcell.png) no-repeat left center;
	background-size:3.6458333333333335vw;
	border-bottom: none;
}
.imgtel a{
	color: #9d1006;
	text-decoration: none;
	font-family: opensanssemibold;
	font-size: 2.7083333333333335vw;
}
.imgtel img {
	vertical-align: middle;
}
.imgtel p.sub {
	margin: 0.5vw 0;
	font-size: 0.7291666666666667vw;
}
.one-moment {
	background: url(image/fon41.png) no-repeat 0 0, #e8e8e8 url(image/one-moment-drug.png) no-repeat right bottom;
	background-size: 50%, 45%;
	padding-bottom:5.208333333333334vw;
}
.right-block h4 {
	text-align:center;
}
.right-block input[type="text"] {
	width: 23.4375vw;
	height: 2.447916666666667vw;
	padding: 0 1vw;
	border: none;
	font-size: 1.0416666666666667vw;
	margin-bottom: 1.5625vw;
	font-family: opensanslight;
}
.right-block {
	font-size: 1.04vw;
	color: #252525;
}
.right-block label {
	display: inline-block;
	margin-bottom: 0.7vw;
}
.right-block p {
	color: #9a9a9a;
	font-size: 0.625vw;
}
#btn_submit {
	display: block;
	margin: 1.5vw auto;
	background: #fff;
	border: 1px solid #9d1006;
	border-radius: 4px;
	height: 2.3958333333333335vw;
	width: 40%;
	font-size: 1.04vw;
	text-transform: uppercase;
	color: #252525;
	font-family: opensanslight;
	cursor:pointer;
}
.right-block form {
	padding-left: 1.5vw;
}
.one-moment .container > h4 {
	font-family: opensans;
	background: #9d1006;
	font-weight: normal;
	color: #fff;
	font-size: 1.04vw;
	height: 2.604166666666667vw;
	line-height: 2.604166666666667vw;
	width: 73%;
	margin: 1vw auto 0 auto;
	border-radius: 0 10px 0 10px;
}
/*end*/
/*footer*/
.warning {
    background: #232323;
    padding: 2.25vw 0 3.5vw 0;
    font-family: Exo2Regular;
    color: #fff;
    text-transform: uppercase;
}

.warning .text1 {
    font-size: 1.1979166666666667vw;
    font-family: RobotoCondensedLight;
}

.warning .text2 {
    font-size: 2vw;
    font-stretch: extra-condensed;
    font-family: RobotoCondensedLight;
}

.footer {
    position: relative;
    background: #000;
    text-align: left;
    padding: 1.8vw 0 3.5vw 0;
    font-family: opensanslight;
    color: white;
}

.logo_bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 18.802083333333333333333%;
}

.left_column {
    display: inline-block;
    width: 38.4615384615384615%;
    vertical-align: top;
    box-sizing: border-box;
}

.left_column div {
    font-size: 0.7vw;
    line-height: 1.3;
    margin-bottom: 1vw;
}
.left_column div:last-child {
    font-size: 0.7291666666666667vw;
}

.left_column div q{
    quotes: "\00ab" "\00bb";
}

.right_column {
    float: right;
    width: 60.5%;
    vertical-align: top;
}

.right_column ul {
    font-size: 0.625vw;
    text-transform: uppercase;
}

.right_column li {
    display: inline-block;
    padding-left: 0.6vw;
}

.right_column li:first-child {
    padding-left: 0;
}

.right_column li::after {
    content: '';
    height: 1.6vw;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #393939;
    padding-right: 0.6vw;
}

.right_column li:last-child::after {
    border-right: none;
    padding-right: 0;
}

.soc_bottom {
    display: inline-block;
    border: 1px solid #6f2424;
    border-radius: 50%;
    background: #000;
    margin: 2.6vw 0.75vw 4vw 0;
    text-align: center;
    vertical-align: middle;
    color: white;
    width: 2vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
}

.soc_bottom:last-child {
    margin-right: 0;
}

.right_column .developer {
    font-size: 0.7291666666666667vw;
}
.mfp-bg {
	background: #000 !important;
	opacity: 0.9 !important;
}
.black-popup {
  position: relative;
  background: none;
  padding: 20px;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
#country-select h2 {
	text-align: center;
	color: #fff;
	font-size: 1.5625vw;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 4.6875vw;
}
.country-list span {
	display: inline-block;
	color: #fff;
	background: #9d1006;
	padding: 0.4vw;
	font-size: 1.1458333333333335vw;
	margin-bottom: 1.8229166666666667vw;
	margin-left: 2vw;
}
.country-list {
	width: 65%;
	margin: 0 auto;
}

.country-list ul {
	margin: 0 0 0 2vw;
	padding: 0;
	border-right: 1px solid #524a49;
	list-style: none;
}
.country-list ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 0.8333333333333334vw;
	line-height: 2.3958333333333335vw;
}
/*.country-list .slick-next.slick-arrow {
    left: inherit;
    right: 3.125vw;
}
.country-list .slick-arrow {
    position: fixed;
    left: 3.125vw;
    top: 50%;
}*/

.left {
    position: absolute;
    width: 1vw;
    top: 50%;
    left: -16vw;
}
.right {
    position: absolute;
    top: 50%;
    width: 1vw;
    right: -15vw;
}
/*end*/
/*popup callback*/
#callback-popup {
    color: #fff;
}
.popup-tel {
    margin-bottom: 2vw;
}
.popup-tel span {
    background-color: #9d1006;
    padding: 0.7vw 0.1vw 0.7vw 0.3vw;
    margin-right: 1vw;
}
.popup-tel h2, .popup-tel i {
    display: inline-block;
    vertical-align: middle;
}
.popup-tel h2 {
    font-size: 1.5625vw;
    font-family: opensansregular;
}
#callback-popup input[type="text"] {
    font-size: 1.1458333333333335vw;
    font-family: opensanslight;
    margin-top: 1vw;
    padding: 0.3vw 1vw;
    width: 42.5%;
}
#button_submit {
    margin: 3.5vw 7vw;
    width: 24%;
    height: 3vw;
    display: block;
    border: 1px solid white;
    background: #9d1006;
    color: #fff;
    font-family: opensansregular;
    font-size: 1.25vw;
    border-radius: 5px;
}
#callback-popup .container {
    left: 16vw;
}
/*end popup callback*/
/*media*/
@media all and (max-width: 1716px) {

}

/*media end*/